.banner-carousel {
  &.image {
    width: 100%;
  }
  &.text {
    position: absolute;
    top: 10%;
    left: 10%;
    h1 {
      color: #76b900;
      font-family: "Helvetica", sans-serif;
      font-size: 30px;
    }
    h2 {
      color: white;
      font-family: "Helvetica", sans-serif;
      font-size: 15px;
    }
  }
  .slick-dots {
    button {
      background-color: #76b900;
      border-style: solid;
      border-width: 5px;
      border-color: #76b900;
      border-radius: 10px;
    }
  }
}
