#navigation {
  display: none;
}
#wrapper {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: black;
}
#banner {
  h1 {
    color: #76b900;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
  }
  img {
    max-height: 32px;
    width: unset;
    vertical-align: text-top;
  }
  .site-title {
    padding-left: 20px;
    margin-bottom: 8px;
  }
}
.portlet {
  margin-bottom: 0px;
}
.portlet-content {
  &.portlet-content-editable {
    border-style: none;
  }
}
#column-1{
    padding-right: 0px;
    padding-left: 0px;
}
.portlet-layout{
    &.row{
        margin-left: 0px;
        margin-right: 0px;
    }
}
